// Greys
$white: #f7f7f7;
$background: #eee;
$background-tint: #e7e7e7;
$light-grey: #ccc;
$mid-grey: #757474;
$slate: #333;

// Highlights
$green: #dbe4c4;
$teal: #3E817F;
$dark-teal: #326D6C; // AAA pass

// Major breakpoints
$mobile-max: 640px;
$tablet-min: 641px;
$desktop-min: 841px;
